# virtual environments
.venv/
venv/
ENV/
env/

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# local environment configurations and logs
.env
*.log

# git metadata
.git/
.gitignore
.gitattributes
